%h3 Hello!
%p This is 'Kill The Bugs!' small pastebin-like service for small teams.

%p You can keep code snippets here, share some code fragments with other developers with public links, create private snippets and invite collaborators to help you find bugs/improve you code.

%p Because all you code are not visible for everyone you must create an account and sign in before you start work!